*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.overall{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 200px;
    padding: 10px;
    /* border: 1px solid black; */
    background-color: wheat;
    
}
form>input{
    margin: 10px 0;
    height: 30px;
    padding: 5px;
    border: none;
    outline: none;
    
}